.label-style {
    -fx-font-size: 16pt;
    -fx-font-family: "Cambria";
    -fx-text-fill: #1E90FF;
}
.button-style {
    -fx-background-color: #0E90FF;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
    -fx-font-family: "Cambria";
}
.button-style:hover {
    -fx-background-color: #3366FF;
    -fx-text-fill: white;
}
.button-style:pressed {
    -fx-background-color: #3366FF;
    -fx-text-fill: black;
}
.start-bg {
    -fx-background-image: url('../image/start.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;

}